.carousel {
    max-height: 500px; 
  }
  
  .carousel-item img {
    width: 80%;
    height: auto;
  }
  
  .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    color: #fff;
  }
  
  .carousel-caption h5 {
    font-size: 1.8em;
    font-weight: bold;
    color: #fff;
    font-display: Top;
  }
  
  .carousel-caption p {
    font-size: 1.5em;
    color: #fff;
  }

